@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
    
}

<html>


<link rel="stylesheet" type="text/css" href="~/css/site.css">

<body >

    <div class="body-div">

        <p class="page-title">@Model.name</p>
    
        <div class="news-div" style="padding-left:100px">

            
        </div>
        <div id="loading" style="margin-left:3cm" class="spinner-border text-danger" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</body>

@section Scripts{
    <script>

        var type = encodeURIComponent("@Model.type");
        var name = encodeURIComponent("@Model.name");

        var scrolledDown = false;
        function getMoreNews() {
            showLoading();
            $.get("/Home/GetMoreNews?type="+type+"&name="+name+"&lastNewsDate="+getLastNewsDate() , function (data) {

                var numberOfNews = $(data).find('div').length;

                hideLoading();

                scrolledDown = false;
                if (numberOfNews > 0) {

                    $(".news-div").append(data); // Yeni haberleri mevcut haberlerin sonuna ekler

                } 
                else{
                    $(".news-div").append("<p class='news-none' >Haber bulunamadı.</p>");
                }


            });
        }




        function getLastNewsDate() {
            var lastNewsDate = $(".news-div .haber-detay:last").data("haber-string");
            if (typeof lastNewsDate === "undefined") {
                lastNewsDate = "";
            }
            return lastNewsDate;
        }

        var ScrollDebounce = true;

        $(window).on('scroll', function () {
            if (ScrollDebounce ) {
                

                    if ($(window).scrollTop() + $(window).height() +200 > $(document).height() && !scrolledDown) {
                        // Sayfanın sonuna geldiğinde burada bir işlem yapabilirsiniz.
                        // Örneğin, yeni haberleri yükleyebilirsiniz.
                        ScrollDebounce = false;
                        scrolledDown = true;
                        getMoreNews();
                        setTimeout(function () { ScrollDebounce = true; }, 500);
                    }

                
            }
        })

        function showLoading() {
            $("#loading").show();
        }

        function hideLoading() {
            $("#loading").hide();
        }

        $(document).ready(function () {

            getMoreNews();
        });


    </script>
}
</html>

                    